<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="permissionMapper">
    <select id="allPermissions" resultType="fanzy.top.shiro_springboot_fanzy.Entity.Permission">
        select username,
               permission_id,
               permission_name,
               permission_url,
               permission_perms,
               permission_owner,
               create_time,
               update_time,
               last_login_time
        from user
        where username =
              #{name}
          AND permission_owner != 0

    </select>

    <!--DELETE FROM table_name [WHERE Clause]-->

    <update id="updatePermission" parameterType="fanzy.top.shiro_springboot_fanzy.Entity.Permission">
        UPDATE user
        SET permission_owner = 0
        WHERE username = #{username}
          AND permission_id = #{permissionId}
    </update>


    <select id="addPermission" parameterType="fanzy.top.shiro_springboot_fanzy.Entity.Permission"
            resultType="fanzy.top.shiro_springboot_fanzy.Entity.Permission">
        INSERT INTO `zb-shiro`.`user` (`username`, `permission_id`,
                                       `permission_name`, `permission_url`, `permission_perms`, `create_time`,
                                       `update_time`, `last_login_time`)
        VALUES (#{username}, #{permissionId}, #{permissionName}, #{permissionUrl}, #{permissionPerms}, #{createTime},
                #{updateTime}, #{lastLoginTime});


    </select>

</mapper>
