<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="userMapper">
    <select id="queryUserByName" resultType="fanzy.top.shiro_springboot_fanzy.entity.User">
        select *
        from user
        where username = #{name}
          AND password IS NOT NULL
    </select>

    <select id="queryAllUser" resultType="fanzy.top.shiro_springboot_fanzy.entity.User">
        SELECT *
        FROM user
        where password IS NOT NULL
    </select>

    <insert id="addUser">
        INSERT INTO `zb-shiro`.`user` (`user_id`, `username`, `password`, `role_id`, `role_name`, `email`, `phone`,
                                       `sex`, `age`,
                                       `create_time`, `update_time`, `last_login_time`, `permission_id`,
                                       `permission_name`, `permission_url`, `permission_perms`, `permission_owner`)
        VALUES (#{userId}, #{username}, #{password}, #{roleId}, #{roleName}, #{email},
                #{phone}, #{sex}, #{age}, #{createTime}, #{updateTime}, #{lastLoginTime},
                '', '', '', '', NULL);

    </insert>

    <select id="test1111" resultType="string">
        select 'test'
    </select>
</mapper>